body{
    background-color: #ddeef4;
    margin: 0;
    padding: 20px;
    color: black;
}

h1{
    color: blue;
    text-align: center;
    margin-bottom: 10px;
}
h4{
    color: black;
}

.galeria{
    display: flex;
    flex-wrap:wrap ;
    gap: 20px;
    justify-content: space-between;
}
.galeria-item{
 background-color: rgb(43, 192, 226);
 border-radius: 8px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 padding: 10px;

 text-align: center;

}
  